<div class="container device">
  <div class="device_frame">
    <p class="my-4">ログイン</p>
    <div class="device_inner">
      <%= form_for(:session, url: login_path)  do |f| %>
        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.email_field :email, class:"form-control col-10 px-2", placeholder:"メ ールアドレス",id:"session_email" %>
        </div>
        <div class="field form-row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.password_field :password, class:'form-control col-10 px-2',   placeholder:"パスワード", id:'session_password' %>
        </div>
        <%= f.submit "ログイン", class: 'form-control btn-primary my-4' %>
      <% end %>
      <%= link_to "新しいアカウントを作成", new_user_path %>
    </div>
  </div>
</div>
