<div class="container device">
  <div class="device_frame">
    <h2 class="mb-3">アカウント編集</h2>
    <div class="device_inner">
      <%= form_with model: @user do |f| %>
        <div class="field">
          <div class="form-group">
            <%= f.label :email ,"メールアドレス" %>
            <%= f.email_field :email, class:"form-control", placeholder:"メールアドレスを入力してください" %>
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <%= f.label :password ,"変更後パスワード（変更する場合のみ入力）" %>
            <%= f.password_field :password, class:"form-control" %>
          </div>
        </div>
        <div class="field">
          <div class="form-group">
            <%= f.label :password_confirmation ,"パスワード確認用（変更する場合のみ入力）" %>
            <%= f.password_field :password_confirmation, class:"form-control" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "更新", class:"form-control btn-primary my-4" %>
        </div>
        <div class="actions">
          <%= link_to "戻る", :user_account, class:"btn btn-outline-secondary form-control" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
