<div class="container device">
  <div class="device_frame">
    <p class="my-4">新しいアカウントを作成</p>
    <div class="device_inner">
      <%= form_with model: @user do |f| %>
        <%= render "shared/error", obj: f.object %>
        <div class="field form_row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.text_field :name, class: 'form-control',placeholder: 'ユーザー名' %>
        </div>
        <div class="field form_row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.email_field :email, class: 'form-control',placeholder: 'メールアドレス' %>
        </div>
        <div class="field form_row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.password_field :password, class: 'form-control',placeholder: 'パスワード' %>
        </div>
        <div class="field form_row">
          <div class="col-2 required-b pt-2"></div>
          <%= f.password_field :password_confirmation, class: 'form-control',placeholder: 'パスワード確認' %>
        </div>
        <div class="actions">
          <%= f.submit '新しいアカウントを作成' ,class: 'form-control btn-primary my-4' %>
        </div>
      <% end %>
      <%= link_to '既にアカウントをお持ちの方はログイン', login_path %>
    </div>
  </div>
</div>
