<div class="container-fiuld reservations">
  <h4 class="pb-4">予約済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="center">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計料金</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <% @room = current_user.rooms.find(reservation.room_id) %>
        <tr>
          <td>
            <%= link_to room_path(reservation.room_id) do %>
              <%= image_tag @room.image.url,class:"reservations-image" %>
            <% end %>
          </td>
          <td class="posts-name">
            <%= link_to room_path(reservation.room_id) do %>
              <%= @room.name %>
            <% end %>
          </td>
          <td class="posts-content"><%= @room.introduction %></td>
          <td class="price-icon"><%= @total_price = reservation.people * @room.price * (reservation.end_date - reservation.start_date).to_i %></td>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td><%= reservation.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
