<%= render "shared/error", obj: @room %>
<div class="container-fiuld room-new">
  <div class="row">
    <div class="col-lg-2 room-nav room-nav-pc d-lg-block d-none">
      <ul>
        <li class="active">
          <%= link_to "基本情報", :new_room %>
        </li>
      </ul>
    </div>
    <div class="col-lg-2 room-nav room-nav-mobile d-lg-none">
      <ul>
        <li class="active">
          <%= link_to "基本情報", new_room_path %>
        </li>
      </ul>
    </div>
    <div class="col-lg-10 room-view">
      <div class="room-view-box">
        <div class="update-content">
          <div class="row">
            <h5>ルーム情報登録</h5>
          </div>
        </div>
        <%= form_with model: @room do |f| %>
          <table>
            <tr class="update-content">
              <th class="col-md-3 required-a"><%= f.label :name,"ルーム名" %></th>
              <td><%= f.text_field :name,class:"form-control mb-4 col-md-9",placeholder:"ルーム名を入力",size: 100 %></td>
            </tr>
            <tr class="update-content">
              <th class="col-md-3 required-a"><%= f.label :introduction,"ルーム紹介" %></th>
              <td><%= f.text_area :introduction,class:"form-control mb-4 col-md-9",placeholder:"ルーム説明を入力" %></td>
            </tr>
            <tr class="update-content">
              <th class="col-md-3 required-a"><%= f.label :price,"料金" %></th>
              <td><%= f.number_field :price,class:"form-control mb-4 col-md-9",placeholder:"一日あたりの料金を入力" %></td>
            </tr>
            <tr class="update-content">
              <th class="col-md-3 required-a"><%= f.label :address,"住所" %></th>
              <td><%= f.text_field :address,class:"form-control mb-4 col-md-9",placeholder:"住所を入力" %></td>
            </tr>
            <tr class="update-content">
              <th class="col-md-3 required-a"><%= f.label :image,"ルーム画像" %></th>
              <td><%= f.file_field :image,class:"form-control mb-4 col-md-9" %></td>
            </tr>
          </table>
          <div class="update-content">
            <div class="row">
              <%= f.submit "登録" ,class:"col-md-2 btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
